<!DOCTYPE html>
<html>

<head>

    <title>BOM Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>BOM Cost Calculator</h1>
    <div class="dashboard">

    <div class="card">
        <h3>Total Components</h3>
        <p id="componentCount">0</p>
    </div>

    <div class="card">
        <h3>Total Cost</h3>
        <p id="dashboardTotal">₹0</p>
    </div>

    <div class="card">
        <h3>Highest Cost Item</h3>
        <p id="highestItem">None</p>
    </div>

</div>

    <div class="form-section">

        <input type="text"
               id="searchBox"
               placeholder="Search component..."
               onkeyup="filterComponents()">

        <br><br>

        <select id="componentSelect">

            {% for component in components %}

            <option
                value="{{ component.unit_price_inr }}"
                data-name="{{ component.name }}">

                {{ component.name }} (₹{{ component.unit_price_inr }})

            </option>

            {% endfor %}

        </select>

        <input type="number"
               id="quantity"
               min="1"
               placeholder="Quantity">

        <button onclick="addToBOM()">
            Add to BOM
        </button>

    </div>

    <h2>BOM List</h2>

    <table id="bomTable">

        <tr>
            <th>Component</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Action</th>
        </tr>

    </table>

    <h2 id="grandTotal">Grand Total: ₹0</h2>

    <div class="form-section">

        <h3>Profit Margin Calculator</h3>

        <input type="number"
               id="marginPercent"
               placeholder="Margin %"
               oninput="calculateSellingPrice()">

        <h3 id="sellingPrice">
            Selling Price: ₹0
        </h3>

    </div>

    <div class="form-section">

        <h3>Save Project</h3>

        <input type="text"
               id="projectName"
               placeholder="Project Name">

        <button onclick="saveBOM()">
            Save BOM
        </button>

    </div>

    <div class="form-section">

        <h3>Load Saved BOM</h3>

        <select id="savedProjects">

            {% for file in saved_files %}

            <option value="{{ file }}">
                {{ file }}
            </option>

            {% endfor %}

        </select>

        <button onclick="loadBOM()">
            Load BOM
        </button>

    </div>

    <button onclick="generatePDF()">
        Generate PDF Report
    </button>

    <script>


    let grandTotal = 0;

    let bomItems = [];

    let highestCost = 0;

    let highestItemName = "None";

        function addToBOM() {

            let dropdown =
                document.getElementById("componentSelect");

            let selectedOption =
                dropdown.options[dropdown.selectedIndex];

            let componentName =
                selectedOption.dataset.name;

            let unitPrice =
                parseFloat(selectedOption.value);

            let quantity =
                parseInt(document.getElementById("quantity").value);

            if (!quantity || quantity <= 0) {

                alert("quantity must be greater than 0");

                return;
            }

            let total = unitPrice * quantity;

            if (total > highestCost) {

    highestCost = total;

    highestItemName = componentName;
}

            updateGrandTotal();

            let table =
                document.getElementById("bomTable");

            let row = table.insertRow();

            row.innerHTML = `
                <td>${componentName}</td>
                <td>₹${unitPrice}</td>
                <td>${quantity}</td>
                <td>₹${total}</td>
                <td>
                    <button onclick="removeRow(this, ${total})">
                        Remove
                    </button>
                </td>
            `;

            bomItems.push({
                name: componentName,
                unit_price: unitPrice,
                quantity: quantity
            });
        }

        function removeRow(button, total) {

            let row = button.parentNode.parentNode;

            row.remove();

            grandTotal -= total;

            updateGrandTotal();
        }

        function updateGrandTotal() {
function updateGrandTotal() {

    document.getElementById("grandTotal").innerText =
        "Grand Total: ₹" + grandTotal;

    document.getElementById("dashboardTotal").innerText =
        "₹" + grandTotal;

    document.getElementById("componentCount").innerText =
        bomItems.length;

    document.getElementById("highestItem").innerText =
        highestItemName;

    calculateSellingPrice();
}

        }

        function calculateSellingPrice() {

            let margin =
                parseFloat(
                    document.getElementById("marginPercent").value
                );

            if (!margin) margin = 0;

            let sellingPrice =
                grandTotal + (grandTotal * margin / 100);

            document.getElementById("sellingPrice").innerText =
                "Selling Price: ₹" + sellingPrice.toFixed(2);
        }

        async function generatePDF() {

            const response = await fetch("/generate_pdf", {

                method: "POST",

                headers: {
                    "Content-Type": "application/json"
                },

                body: JSON.stringify(bomItems)
            });

            const blob = await response.blob();

            const url = window.URL.createObjectURL(blob);

            const a = document.createElement("a");

            a.href = url;

            a.download = "BOM_Report.pdf";

            a.click();
        }

        async function saveBOM() {

            let projectName =
                document.getElementById("projectName").value;

            if (!projectName) {

                alert("Enter project name");

                return;
            }

            await fetch("/save_bom", {

                method: "POST",

                headers: {
                    "Content-Type": "application/json"
                },

                body: JSON.stringify({
                    project_name: projectName,
                    bom_items: bomItems
                })
            });

            alert("Project Saved");
        }

        async function loadBOM() {

            let filename =
                document.getElementById("savedProjects").value;

            const response =
                await fetch(`/load_bom/${filename}`);

            const data = await response.json();

            location.reload();
        }

        function filterComponents() {

            let input =
                document.getElementById("searchBox")
                .value
                .toLowerCase();

            let select =
                document.getElementById("componentSelect");

            let options = select.options;

            for (let i = 0; i < options.length; i++) {

                let text =
                    options[i].text.toLowerCase();

                options[i].style.display =
                    text.includes(input) ? "" : "none";
            }
        }

    </script>


</body>

</html>